<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651577364051-m30vh3lct3idnqui5ljsp3l9sbig1666.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651577364051-m30vh3lct3idnqui5ljsp3l9sbig1666</string>
	<key>API_KEY</key>
	<string>AIzaSyCwwVVKCDmdFf5cmJJdVn-Md-9oBpp6rwk</string>
	<key>GCM_SENDER_ID</key>
	<string>651577364051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carrinho.compras.v2</string>
	<key>PROJECT_ID</key>
	<string>poc-carrinho-compras</string>
	<key>STORAGE_BUCKET</key>
	<string>poc-carrinho-compras.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651577364051:ios:fdfdef95cd0d5b6f5180a6</string>
</dict>
</plist>